<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1179732876566852</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1179732876566852</string>
	<key>FacebookClientToken</key>
	<string>EAAQw9fcJoUQBOwDptwaWafVjUzUNTc3xz3CpLm6lDAGB5KWXOvBeYSXflZC6VAPhNPd2M3rspZAGpFTtZAvfaCYGrhZAam7FV7ZCFrfUUnTrA7pMFNsrWupZB33nc51VONKl7V5yy6Fw9grZAnflaCjvD1YtVZB1hBtUbwCipaySDOS1c9SwXaVyRYnYGtnYjHilVyQt4ZAx80hhpunCpdrKWQZAEz54HdUnTdd72A8CiZB0A5ca9z9PzqfqN8lze4ZBeA6Kc4ZAZCEugxdG0ZD</string>
	<key>FacebookDisplayName</key>
	<string>STYLiSH</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb1179732876566852</string>
		<string>fb-messenger-share-api </string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
